%h1
  = image_tag 'hashiru.png', size: '127x112', alt: 'Hashiru'
  Hashiru

= form_for @user do |f|
  = render partial: 'form_errors'
  #step1
    %h3 Let's get started with some basic information
    .form-group
      = f.text_field :name, class: 'form-control input-lg', placeholder: 'Your Name', autofocus: ""
    .form-group
      = f.select :gender, options_for_select([['Select your gender', nil], ['Female', 'female'], ['Male', 'male']]), {}, class: 'form-control input-lg'
    = link_to 'Continue', '', class: 'btn btn-success btn-lg btn-block', id: 'continue'
  #step2{style: 'display: none;'}
    %h3 We need to know a little more about you
    .form-group
      = f.label :mile_time, 'What is your fastest mile time?'
      .row
        .input-group.col-xs-6.left-side
          = f.text_field :mile_time, class: 'form-control input-lg col-xs-6'
          %span.input-group-addon min
        .input-group.col-xs-6.right-side
          = f.text_field :mile_time, class: 'form-control input-lg col-xs-6'
          %span.input-group-addon sec
    .form-group
      = f.label :longest_distance, 'How about the longest distance you have run?'
      .input-group
        = f.text_field :longest_distance, class: 'form-control input-lg'
        %span.input-group-addon miles
    = link_to 'Almost Done!', '', class: 'btn btn-success btn-lg btn-block', id: 'continue2'
  #step3{style: 'display: none;'}
    %h3 Ok, what can Hashiru do you you?
    .form-group
      = f.select :goal_type, options_for_select([['Select your goal', nil], ['Run Faster', 'faster'], ['Run Longer', 'longer'], ['Both', 'both']]), {}, class: 'form-control input-lg'
    = f.submit 'Finish!', class: 'btn btn-lg btn-success btn-block'

:coffee
  step1 = $ '#step1'
  step2 = $ '#step2'
  step3 = $ '#step3'
  continue1 = $ '#continue'
  continue2 = $ '#continue2'
  continue1.on 'click', (e) ->
    e.preventDefault()
    step1.fadeOut -> step2.fadeIn()
  continue2.on 'click', (e) ->
    e.preventDefault()
    step2.fadeOut -> step3.fadeIn()
