<!DOCTYPE html>
<html>
<head>
  <title>Hashiru</title>
  <!-- setup mobile support -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="format-detection" content="telephone=no">

  <meta name="viewport" content="initial-scale=1.0">
  <meta name="viewport" content="maximum-scale=1.0">
  <meta name="viewport" content="user-scalable=no">
  <meta name="viewport" content="width=device-width">

  <%#<link rel="apple-touch-icon-precomposed" href="assets/icons/54.png">%>
  <%#<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/72.png">%>
  <%#<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/114.png">%>
  <%#<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/144.png">%>

  <%#<link rel="apple-touch-startup-image" href="images/startup-568h-retina.png" media="screen and (device-height: 568px)">%>
  <%#<link rel="apple-touch-startup-image" href="images/startup-retina.png" media="screen and (device-height: 480px) and (min-device-pixel-ratio: 2)">%>
  <%#<link rel="apple-touch-startup-image" href="images/startup.png" media="screen and (device-height: 480px)">%>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <h1>
      <%= link_to root_path do %>
        <%= image_tag 'hashiru.png', size: '127x112', alt: 'Hashiru' %> Hashiru
      <% end %>
    </h1>
    <%= yield %>
  </div>

</body>
</html>
